@import "../../styles/colors";

* {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $lightGrey;
}

input[type="password"],
input[type="email"] {
  border: 1px solid grey;
  border-radius: 4px;
  line-height: 40px;
  background-color: $lightGrey;
  color: $black;
  font-size: 14px;
  font-weight: 300;
  width: 100%;
  padding: 0 40px 0 10px;
  &:focus {
    outline-color: $darkGrey;
  }
}

button {
  background-color: $primary;
  color: $white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  line-height: 40px;
  padding: 10px;
  cursor: pointer;
  width: 100%;
  margin-top: 10px;
  &:hover {
    opacity: 0.9;
  }
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;

  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 400px;
    background-color: $white;
    padding: 40px;
    border-radius: 8px;
    align-self: center;
    box-shadow: 0px 1px 3px -1px $black;

    h2 {
      color: $darkGrey;
      text-align: center;
      font-size: 20px;
      text-transform: uppercase;
    }

    .signUpLink {
      text-align: center;
      color: $darkGrey;
      font-size: 14px;
      margin-top: 10px;
      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }

    .errorWrap {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .spinner {
        margin-top: 20px;
      }

      .error {
        margin-top: 20px;
      }
    }
  }
}
