version: 2.1
orbs:
  node: circleci/node@5.0.2

jobs:
  test:
    executor: node/default
    steps:
      - checkout
      - node/install-packages:
          pkg-manager: yarn
      - run:
          command: npm run lint
          name: Run eslint
      - run:
          command: npm run test:ci
          name: Run test coverage
