@import "./colors.scss";

* {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $lightGrey;
}

input[type="password"],
input[type="email"],
input[type="text"] {
  border: none;
  outline: none;
}
